<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <div class="footer__container">
            <a class="footer__a" href="#about">Om oss</a>
            <a class="footer__a" href="#location">Plats</a>
            <a class="footer__a" href="#facebook">Facebook</a>
            <a class="footer__a" href="#twitter">Twitter</a>
            <a class="footer__a" href="#instagram">Instagram</a>
        </div>
    </footer>
</body>

</html>